<header class="page__section header">
  <div class="header__container">
    <div class="header__nav nav">
      <div class="nav__logo">
        <img src="" alt="logo">
      </div>
      <ul class="nav__list">
        <li class="nav__item">Brain games</li>
        <li class="nav__item">Courses</li>
        <li class="nav__item">Blog</li>
      </ul>
      <div class="nav__action">
        <button>Start</button>
        <button>Login</button>
      </div>
    </div>

    <div class="header__main">
      <h1 class="header__title">86% of members have noted the progress after brain training on Wikium</h1>
      <div class="header__description description">
        <div class="description__decor"></div>
        <p class="description__text">Develop memory, attention and thinking with the help of online games</p>
      </div>
      <button>Try</button>
      <div class="header__img">
        <img src="" alt="laptop">
      </div>
    </div>
  </div>
</header>
