<div class="header__nav">
  <nav class="nav">
    <div class="nav__left">
      <div class="nav__logo">
        <img src="assets/logo.svg" alt="logo">
      </div>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="">Brain games</a>
        </li>
        <li class="nav__item">
          <a href="">Courses</a>
        </li>
        <li class="nav__item">
          <a href="">Blog</a>
        </li>
      </ul>
    </div>

    <div class="nav__right">
      <button class="nav__btn nav__btn--orange">Start</button>
      <button class="nav__btn">Login</button>
    </div>
  </nav>
</div>
