<header class="page__section header">
  <div class="header__container">
    <div class="header__nav nav">
      <div class="nav__logo">
        <img src="" alt="logo">
      </div>
      <ul class="nav__list">
        <li class="nav__item">Brain games</li>
        <li class="nav__item">Courses</li>
        <li class="nav__item">Blog</li>
      </ul>
      <div class="nav__action">
        <button>Start</button>
        <button>Login</button>
      </div>
    </div>

    <div class="header__main">
      <h1 class="header__title">86% of members have noted the progress after brain training on Wikium</h1>
      <div class="header__description description">
        <div class="description__decor"></div>
        <p class="description__text">Develop memory, attention and thinking with the help of online games</p>
      </div>
      <button>Try</button>
      <div class="header__img">
        <img src="" alt="laptop">
      </div>
    </div>
  </div>
</header>

<main class="page__section main-content">
  <section class="main-content__help help">
    <h2 class="main-content__title">Wikium will help</h2>
    <article class="help__item">
      <div class="help__img">
        <img src="" alt="icon help">
      </div>
      <h4 class="help__title">Become more organized</h4>
      <p class="help__description">Stop looking for the keys all the time</p>
    </article>
    <article class="help__item">
      <div class="help__img">
        <img src="" alt="icon help">
      </div>
      <h4 class="help__title">Think logically</h4>
      <p class="help__description">Prove your words clearly</p>
    </article>
    <article class="help__item">
      <div class="help__img">
        <img src="" alt="icon help">
      </div>
      <h4 class="help__title">Memorize names and dates</h4>
      <p class="help__description">Stop forgetting birthdays</p>
    </article>
    <article class="help__item">
      <div class="help__img">
        <img src="" alt="icon help">
      </div>
      <h4 class="help__title">Reveal the potential</h4>
      <p class="help__description">Master the mnemonics, speed reading and other techniques</p>
    </article>
    <article class="help__item">
      <div class="help__img">
        <img src="" alt="icon help">
      </div>
      <h4 class="help__title">Find harmony in relationships</h4>
      <p class="help__description">Learn to control and manage emotions</p>
    </article>
    <article class="help__item">
      <div class="help__img">
        <img src="" alt="icon help">
      </div>
      <h4 class="help__title">Grow professionally</h4>
      <p class="help__description">Develop career skills</p>
    </article>
  </section>

  <section class="main-content__registration registration">
      <div class="registration__container">
        <h2 class="main-content__title">Register now</h2>
        <button>Get</button>
      </div>
  </section>
</main>
