<div class="header-main">
  <div class="header-main__content">
    <h1 class="header-main__title"><span style="color: #8f4af9;">86%</span> of members have noted the progress after brain training on Wikium</h1>
    <div class="header-main__description description">
      <div class="description__decor"></div>
      <p class="description__text">Develop memory, attention and thinking with the help of online games</p>
    </div>
    <button class="header-main__btn">Try</button>
  </div>
  <div class="header-main__img"></div>
</div>
