<div class="main-content__search search">
  <h4 class="search__title">Get request</h4>
  <label for="app-get-repositories-search-by">Repository username</label>
  <input id="app-get-repositories-search-by" type="text" (change)="setRepositoryAuthor($event)">
  <button (click)="getRepositories()">Get repositories</button>
  <app-search-by-reactive-form
    [repositories]="repositories"
    (filteringRepositories)="filterRepositories($event)"
  ></app-search-by-reactive-form>
  <app-repositories [repositories]="filteredRepositories"></app-repositories>
<!--  <app-search-by-template-driven></app-search-by-template-driven>-->
</div>
